@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		counter-reset:section;
	}

	main {
		@apply container bg-white mx-auto p-2 align-middle;
	}

	h1 {
		@apply mb-4 text-5xl;
	}

	h2:before
	{
		counter-increment:section;
		content: counter(section) ". ";
	}

	h2 {
		@apply mb-3 text-3xl;
		counter-reset:subsection;
	}

	h3:before
	{
		counter-increment:subsection;
		content: counter(section) "." counter(subsection) ". ";
	}

	h3 {
		@apply mb-2 text-2xl;
	}

	h4 {
		@apply mb-1 text-lg text-black italic font-bold;
	}

	p {
		@apply mb-1;
	}

	ol {
		@apply list-decimal list-inside;
	}

	ul {
		@apply list-disc list-inside;
	}

	.aufgabe {
		@apply bg-aufgabe-100 mb-4 p-2;
	}

	.folgerung {
		@apply bg-folgerung-200 mb-4 p-2;
	}

	.definition {
		@apply bg-definition-200 mb-4 p-2;
	}
}